body { background: #195785; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 12px; display: flex; }
.block-product-0 { color: #57d6e4; font-size: 15px; margin-bottom: 5px; }
.block-sms-1 { color: #b5c465; font-size: 19px; margin-bottom: 5px; }
.block-router-2 { color: #867d9e; font-size: 12px; margin-bottom: 5px; }
.block-shipping-3 { color: #492889; font-size: 20px; margin-bottom: 5px; }
.block-token-4 { color: #a79c0f; font-size: 19px; margin-bottom: 5px; }